@model IEnumerable<TaxFiler.Models.TransactionViewModel>

<div class="text-center">
    <h2>Transactions</h2>
</div>

<div class="text-left row">
    <div  class="col-md-6" >
        <form asp-action="Upload" 
              method="post" 
              enctype="multipart/form-data"
              asp-route-yearMonth="@ViewBag.YearMonth"
        >
            <div class="text-left row">
                <div  class="col-md-8" ><input type="file" name="file" class="form-control"/> </div>
                <div  class="col-md-4" ><button type="submit" class="btn btn-primary">Upload</button></div>
                
            </div>
        </form>
    </div>
    <div  class="text-right col-md-3" >
        <form asp-action="DeleteTransactions"
              asp-controller="Transactions"
              method="post"
              asp-route-yearMonth="@ViewBag.YearMonth">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
    <div  class="text-right col-md-3" >
        <a asp-action="Download" 
                    asp-controller="Transactions" 
                    asp-route-yearMonth="@ViewBag.YearMonth" 
                    class="btn btn-primary">Download</a>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>out</th>
        <th>Income Tax</th>
        <th>Sales Tax</th>
        <th>Net Amount</th>
        <th>Gross Amount</th>
        <th>Tax Amount</th>
        <th>Tax Rate</th>
        <th>Document</th>
        <th>Transaction DateTime</th>
        <th>Transaction Note</th>
        <th>Sender/Receiver</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaction in Model)
    {
        <tr>
            <td>@transaction.Id</td>
            <td>@transaction.IsOutgoing</td>
            <td>@transaction.IsIncomeTaxRelevant</td>
            <td>@transaction.IsSalesTaxRelevant</td>
            <td>@transaction.NetAmount</td>
            <td>@transaction.GrossAmount</td>
            <td>@transaction.TaxAmount</td>
            <td>@transaction.TaxRate</td>
            <td>@transaction.DocumentName</td>
            <td>@transaction.TransactionDateTime</td>
            <td>@transaction.TransactionNote</td>
            <td>@transaction.SenderReceiver</td>
            <td>
                @Html.ActionLink("Edit", "EditTransaction", "Transactions", 
      new { transactionId = transaction.Id , yearMonth = ViewBag.YearMonth }, 
    new { @class = "btn btn-secondary" })
            </td>
            <td>
                <form asp-action="DeleteTransaction" 
                      asp-controller="Transactions" 
                      method="post" 
                      asp-route-id="@transaction.Id"
                      asp-route-yearMonth="@ViewBag.YearMonth">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
